<!DOCTYPE document PUBLIC "-//Apache Software Foundation//DTD XDOC 1.0//EN" "http://maven.apache.org/dtd/xdoc_1_0.dtd">
<!--
	
	Copyright (c) 2006-2009 Floggy Open Source Group. All rights reserved.
	
	Licensed under the Apache License, Version 2.0 (the "License");
	you may not use this file except in compliance with the License.
	You may obtain a copy of the License at
	
	http://www.apache.org/licenses/LICENSE-2.0
	
	Unless required by applicable law or agreed to in writing, software
	distributed under the License is distributed on an "AS IS" BASIS,
	WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
	See the License for the specific language governing permissions and
	limitations under the License.
	
-->
<document>
	<properties>
		<title>Welcome to Floggy</title>
		<author email="thiago.moreira@floggy.org">Thiago Moreira</author>
	</properties>
	<body>
		<section name="Demo">
			<p>There are two applications that uses Floggy as the persistence framework. The first one was developed by our friend and barbecue addicted <a href="http://twitter.com/netomarin">Neto Marin</a>. 
			The second one was part of the project that Rossato and Priscila presented for their graduation theses. Enjoy!</p>
			<table class="bodyTable">
				<tbody>
					<tr class="a">
						<td align="left">Name</td>
						<td align="left">Description</td>
						<td align="left">Java Web Start</td>
						<td align="left">JAD (TinyURL)</td>
						<td align="left">JAD</td>
						<td align="left">JAR</td>
						<td align="left">Source</td>
					</tr>
					<tr class="b">
						<td align="left">Barbecue calculator</td>
						<td align="left">A midlet to help you to organize a barbacue. Specifically a Brazilian barbecue.</td>
						<td align="left">
							<a href="http://microemu.org/webstart/floggy.sourceforge.net/demo/barbecue-calculator-${currentVersion}-me.jnlp">JNLP</a>
						</td>
						<td align="left">
							<a href="http://tinyurl.com/mwhcmu">JAD (TinyURL)</a>
						</td>
						<td align="left">
							<a href="demo/barbecue-calculator-${currentVersion}-me.jad">JAD</a>
						</td>
						<td align="left">
							<a href="demo/barbecue-calculator-${currentVersion}-me.jar">JAR</a>
						</td>
						<td align="left">
							<a href="http://floggy.svn.sourceforge.net/viewvc/floggy/trunk/barbecue-calculator.tar.gz?view=tar">Source</a>
						</td>
					</tr>
					<tr class="a">
						<td align="left">Hospital-ME</td>
						<td align="left">A midlet that simulate a hospital system having doctors, patients, bedrooms interacting between each other.</td>
						<td align="left">
							<a href="http://microemu.org/webstart/floggy.sourceforge.net/demo/floggy-persistence-demo-${currentVersion}-me.jnlp">JNLP</a>
						</td>
						<td align="left">
							<a href="http://tinyurl.com/yjssuq4">JAD (TinyURL)</a>
						</td>
						<td align="left">
							<a href="demo/floggy-persistence-demo-${currentVersion}-me.jad">JAD</a>
						</td>
						<td align="left">
							<a href="demo/floggy-persistence-demo-${currentVersion}-me.jar">JAR</a>
						</td>
						<td align="left">
							<a href="http://floggy.svn.sourceforge.net/viewvc/floggy/trunk/floggy-persistence-demo.tar.gz?view=tar">Source</a>
						</td>
					</tr>
				</tbody>
			</table>
		</section>
	</body>
</document>
