<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!-- 
	Copyright 2006 Floggy Open Source Group
	
	Licensed under the Apache License, Version 2.0 (the "License");
	you may not use this file except in compliance with the License.
	You may obtain a copy of the License at
	
	http://www.apache.org/licenses/LICENSE-2.0
	
	Unless required by applicable law or agreed to in writing, software
	distributed under the License is distributed on an "AS IS" BASIS,
	WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
	See the License for the specific language governing permissions and
	limitations under the License.
-->
<plugin>

   <extension
         id="floggyBuilder"
         name="Floggy Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="net.sourceforge.floggy.eclipse.FloggyBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="floggyNature"
         name="Floggy Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="net.sourceforge.floggy.eclipse.FloggyNature">
         </run>
      </runtime>
      <builder
            id="net.sourceforge.floggy.floggyBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="net.sourceforge.floggy.oc"
            objectClass="org.eclipse.core.resources.IProject">
         <menu
               id="net.sourceforge.floggy.menu"
               label="Floggy">
            <separator name="convertToFloggyProject"/>
            <separator name="properties"/>
         </menu>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="net.sourceforge.floggy.objectContribution1"
            objectClass="org.eclipse.core.resources.IProject">
         <visibility>
            <and>
            <objectState
                  name="nature"
                  value="net.sourceforge.floggy.floggyNature"/>
   <and>
      <objectState
            name="persistentProperty"
            value="net.sourceforge.floggy.generateSource=true"/>
      <objectState
            name="persistentProperty"
            value="net.sourceforge.floggy.addDefaultConstructor=true"/>
   </and>
            </and>
         </visibility>
         <action
               class="net.sourceforge.floggy.eclipse.SetGenerateSourceAction"
               enablesFor="+"
               icon="src/images/generateSourceOn.gif"
               id="net.sourceforge.floggy.generateSource"
               label="Generate source"
               menubarPath="net.sourceforge.floggy.menu/properties"
               style="push">
         </action>
         <action
               class="net.sourceforge.floggy.eclipse.SetAddDefaultConstructorAction"
               enablesFor="+"
               icon="src/images/addDefaultConstructorOn.gif"
               id="net.sourceforge.floggy.addDefaultConstructor"
               label="Add default constructor"
               menubarPath="net.sourceforge.floggy.menu/properties"
               style="push"/>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="net.sourceforge.floggy.objectContribution2"
            objectClass="org.eclipse.core.resources.IProject">
         <visibility>
            <and>
            <objectState
                  name="nature"
                  value="net.sourceforge.floggy.floggyNature"/>
   <and>
      <objectState
            name="persistentProperty"
            value="net.sourceforge.floggy.generateSource=true"/>
      <objectState
            name="persistentProperty"
            value="net.sourceforge.floggy.addDefaultConstructor=false"/>
   </and>
            </and>
         </visibility>
         <action
               class="net.sourceforge.floggy.eclipse.SetGenerateSourceAction"
               enablesFor="+"
               icon="src/images/generateSourceOn.gif"
               id="net.sourceforge.floggy.generateSource"
               label="Generate source"
               menubarPath="net.sourceforge.floggy.menu/properties"
               style="push">
         </action>
         <action
               class="net.sourceforge.floggy.eclipse.SetAddDefaultConstructorAction"
               enablesFor="+"
               icon="src/images/addDefaultConstructorOff.gif"
               id="net.sourceforge.floggy.addDefaultConstructor"
               label="Add default constructor"
               menubarPath="net.sourceforge.floggy.menu/properties"
               style="push"/>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="net.sourceforge.floggy.objectContribution3"
            objectClass="org.eclipse.core.resources.IProject">
         <visibility>
            <and>
            <objectState
                  name="nature"
                  value="net.sourceforge.floggy.floggyNature"/>
   <and>
      <objectState
            name="persistentProperty"
            value="net.sourceforge.floggy.generateSource=false"/>
      <objectState
            name="persistentProperty"
            value="net.sourceforge.floggy.addDefaultConstructor=true"/>
   </and>
            </and>
         </visibility>
         <action
               class="net.sourceforge.floggy.eclipse.SetGenerateSourceAction"
               enablesFor="+"
               icon="src/images/generateSourceOff.gif"
               id="net.sourceforge.floggy.generateSource"
               label="Generate source"
               menubarPath="net.sourceforge.floggy.menu/properties"
               style="push">
         </action>
         <action
               class="net.sourceforge.floggy.eclipse.SetAddDefaultConstructorAction"
               enablesFor="+"
               icon="src/images/addDefaultConstructorOn.gif"
               id="net.sourceforge.floggy.addDefaultConstructor"
               label="Add default constructor"
               menubarPath="net.sourceforge.floggy.menu/properties"
               style="push"/>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="net.sourceforge.floggy.objectContribution4"
            objectClass="org.eclipse.core.resources.IProject">
         <visibility>
            <and>
            <objectState
                  name="nature"
                  value="net.sourceforge.floggy.floggyNature"/>
   <and>
      <objectState
            name="persistentProperty"
            value="net.sourceforge.floggy.generateSource=false"/>
      <objectState
            name="persistentProperty"
            value="net.sourceforge.floggy.addDefaultConstructor=false"/>
   </and>
            </and>
         </visibility>
         <action
               class="net.sourceforge.floggy.eclipse.SetGenerateSourceAction"
               enablesFor="+"
               icon="src/images/generateSourceOff.gif"
               id="net.sourceforge.floggy.generateSource"
               label="Generate source"
               menubarPath="net.sourceforge.floggy.menu/properties"
               style="push">
         </action>
         <action
               class="net.sourceforge.floggy.eclipse.SetAddDefaultConstructorAction"
               enablesFor="+"
               icon="src/images/addDefaultConstructorOff.gif"
               id="net.sourceforge.floggy.addDefaultConstructor"
               label="Add default constructor"
               menubarPath="net.sourceforge.floggy.menu/properties"
               style="push"/>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="net.sourceforge.floggy.convert"
            objectClass="org.eclipse.core.resources.IProject">
         <visibility>
            <and>
               <objectState
                     name="open"
                     value="true"/>
               <objectState
                     name="nature"
                     value="net.sourceforge.floggy.floggyNature"/>
            </and>
         </visibility>
         <action
               class="net.sourceforge.floggy.eclipse.ToggleNatureAction"
               icon="src/images/floggyOff.gif"
               id="net.sourceforge.floggy.removeFloggyNature"
               label="Remove Floggy nature"
               menubarPath="net.sourceforge.floggy.menu/convertToFloggyProject"/>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="net.sourceforge.floggy.convert"
            objectClass="org.eclipse.core.resources.IProject">
         <visibility>
            <and>
               <objectState
                     name="open"
                     value="true"/>
               <and>
                  <objectState
                        name="nature"
                        value="org.eclipse.jdt.core.javanature"/>
                  <not>
                     <objectState
                           name="nature"
                           value="net.sourceforge.floggy.floggyNature"/>
                  </not>
               </and>
            </and>
         </visibility>
         <action
               class="net.sourceforge.floggy.eclipse.ToggleNatureAction"
               icon="src/images/floggyOn.gif"
               id="net.sourceforge.floggy.addFloggyNature"
               label="Add Floggy nature"
               menubarPath="net.sourceforge.floggy.menu/convertToFloggyProject"/>
      </objectContribution>
   </extension>

</plugin>
